/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS-переменные */
:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-primary);
}

/* Заголовок */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header__title {
    font-size: 2rem;
    font-family: var(--font-secondary); /*  Open Sans */
}

/* Основной контент */
.page {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}
.page__content-image {
    width: 50%;

}
.page__main {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.page__sidebar {
    width: 20%;
    padding: 20px;
    background-color: #f4f4f4;
    font-family: var(--font-secondary); /*  Open Sans */
}

.page__sidebar--left {
    background-color: #e0e0e0;
}

.page__sidebar--right {
    background-color: #d1d1d1;
}

.page__content {
    width: 55%;
    padding: 20px;
    background-color: #fff;
}

.page__content-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.page__content-text {
    font-size: 1rem;
}

/* Подвал */
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
}

#button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 10%;
    font-family: var(--font-primary); /*  Montserrat */
}
