@use './mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}
:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  // height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
header,
footer {
  background-color: #ccc;
  padding: 20px;
}

.banner {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-align: center;
}

.cards-container {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.card {
  @include btn-styles(#b2f5ea, #000);

  min-width: 80px;
  text-align: center;
}
